<div class="Footer">
  <div class="textFotter">
    <h2 class="tituloContacto"> Como Contactarnos</h2>

  </div>
  <hr>
  <br>
  <div class="social-media">
    <a href="Facebook" class="social-media-icon1">
        <i class='bx bxl-facebook-circle'></i>
    </a>
    <a href="Twitter" class="social-media-icon2">
        <i class='bx bxl-twitter'></i>
    </a>
</div>
<p class="DescripcionContacto">
  Tel/Cel. 961 112 89 01. <br>
  Direccion: Av.23 de Septiembre #1034, Col. Real del Sur. <br>
  Correo Electronico. HotelPalacionMx@gmail.com. 
</p>
</div>
