<h1 class="paquetes">Paquetes que ofrecemos</h1>
<hr>
<p class="descripcionPaquete"> Hotel Palacio te ofrecemos tres direntes paquetes para que disfrutes con tu familia el mejor 
  hospedaje de tu vida. Llamanos para hacer la reservacion de tu paquete.</p>

  <div class="container">
    <div class="row">
      <div class="col package">
        <h2 class="package-title">Paquete básico</h2>
        <ul class="package-features">
          <li>2 noches de hospedaje</li>
          <li>Desayuno incluido</li>
          <li>Acceso a la piscina</li>
          <li>1 cama matrimonial</li>
          <br>
        </ul>
        <div class="package-price">$1200</div>
        <br>
      </div>
  
      <div class="col package">
        <h2 class="package-title">Paquete estándar</h2>
        <ul class="package-features">
          <li>3 noches de hospedaje</li>
          <li>Desayuno y cena incluidos</li>
          <li>Acceso al gimnasio y al spa</li>
          <li>2 cama matrimonial</li>
          <br>
        </ul>
        <div class="package-price">$1600</div>
        <br>
      </div>
  
      <div class="col package">
        <h2 class="package-title">Paquete premium</h2>
        <ul class="package-features">
          <li>5 noches de hospedaje</li>
          <li>Todas las comidas incluidas</li>
          <li>Acceso a todas las instalaciones</li>
          <li>1 cama king size</li>
        </ul>
        <div class="package-price">$2000</div>
      </div>
    </div>
  </div>
  <br>
  <p class="segundoParrafo"> <strong>A todos nuestros huespedes se les recuerda que las reservaciones es via telefonica.</strong> </p>