nav {
	position: relative;
	width: 1519px;
	height: 50px;
	background-color: #34495e;
	border-radius: 0px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 5px;
}

a:nth-child(1) {
	width: 140px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 120px;
}

/* Estilos para el enlace activo */
nav a.active {
	color: white; /* Color del texto cuando está activo */
}

/* Estilos para la animación de cada enlace */
nav .start-home,
a:nth-child(1):hover~.animation,
a:nth-child(1).active~.animation {
	width: 150px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation,
a:nth-child(2).active~.animation {
	width: 100px;
	left: 145px;
	background-color: #e74c3c;
}

nav .start-gallery,
a:nth-child(3):hover~.animation,
a:nth-child(3).active~.animation {
	width: 110px;
	left: 245px;
	background-color: #3498db;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #2c3e50;
}

img.imagen {
	height: 50px;
	position: relative;
	left: 1025px;
	top: -6px;
}
