
  <h1 class="titulo1">¿Quienes Somos?</h1>
  <hr>
  <p class="parrafo1">Somos un hotel de gran categoria, ubicados en la cuidad de Tuxtla
    Gutierrez, Chiapas, sobre el Boulevar Belario Dominguez, a una cuadra de plaza Terán, Hotel Palacio te ofrece
    el mejor alojamiento de tu vida, habitaciones a un costo accesible, cuenta con 43 habitaciones, terraza, albercas
    para nuestros huespedes, comida de alta calidad chiapaneca. Ven y conocenos.</p>
  <br> 

  <h1 class="titulo2"> Servicios y Actividades </h1>
  <div id="columnas">
    <li>Acceso a discapacitados</li>
    <li>Internet wifi</li>
    <li>Servicio fax</li>
    <li>Informacion turistica</li>
    <li>Restaurante</li>
    <li>Alquiler de autos</li>
    <li>Recepcion 24h</li>
    <li>Servicio Habitacion</li>
    <li>Caja de seguridad</li>
    <li>Servicio de planchado</li>
    <li>Servicio de lavanderia</li>
    <li>Sala TV</li>
    <li>Transporte de equipaje</li>
    <li>Albercas</li>
    <li>Ascensor</li>
  </div>

