/* Estilos base */
h1.titulo1, h1.titulo2 {
  font-family: Arial, sans-serif;
  font-weight: 670;
  margin: 15px 20px;
  color: #28273E;
  text-align: center;
}
h1.titulo1{
  text-align: left;
}

p.parrafo1 {
  margin: 15px 20px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
  color: #284156;
  font-family: inherit;
  text-align: justify;
}

hr {
  margin: 10px 20px;
  height: 2px;
}

#columnas {
  margin: 15px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75;
  color: #284156;
  column-count: 1;
  column-gap: 0;
  text-align: justify;
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) {
  h1.titulo1, h1.titulo2 {
    margin: 19px 20px 35px 70px;
  }

  p.parrafo1 {
    margin: 25px 70px 35px 70px;
    font-size: 1.25rem;
  }

  hr {
    margin: 0px 77px 20px 70px;
  }

  #columnas {
    margin: 25px 70px 35px 70px;
    column-count: 2;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1024px) {
  h1.titulo1, h1.titulo2 {
    margin: 19px 20px 35px 70px;
  }

  p.parrafo1 {
    margin: 25px 70px 35px 70px;
  }

  hr {
    margin: 0px 77px 20px 70px;
  }

  #columnas {
    margin: 25px 70px 35px 70px;
    column-count: 3;
  }
}
